rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && exists(/databases/$(database)/documents/roles_admin/$(request.auth.uid));
    }

    // Allow public read access to all vehicle data
    match /vehicles/{vehicleId} {
      allow read: if true;
      allow write: if isAdmin(); // Only admins can create, update, or delete
    }

    match /roles_admin/{adminId} {
      // Allow a signed-in user to create their own admin role document upon first login.
      allow get, create: if isSignedIn() && request.auth.uid == adminId;
      // Disallow listing all admins, or updating/deleting roles.
      allow list, update, delete: if false;
    }
  }
}
